<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 login-box">
      <form name="signin_form" novalidate>
        <div class="login-head">
          <h1>登录</h1>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <a class="login-third-left" href="/users/auth/github">GitHub</a>
          <a class="login-third-right" href="/user/auth/stack overflow">Stack Overflow</a>
          <div class="signin-middle">
            <label class="label-text">邮箱</label>
            <div class="has-feedback">
              <input id="email" class="form-control input-lg" type="text" placeholder="邮箱"  name="email" ng-model="user.username"/>
              <span class="mdi-communication-forum"></span>
            </div>
            <div class="signin-password">
              <label class="label-text">密码</label>
                <input id="password" class="form-control input-lg" type="password" placeholder="密码" ng-model="user.password" />
            </div>
          </div>
          <div class="signin-end">
            <button type="submit" class="btn btn-primary" ng-click="signIn(user.username, user.password, 'coder')">登录</button>
          </div>
          <div class="signin-bottom">
            <a class="link" href="/users/password/new">忘记密码?</a>
            <span>•</span>
            <a class="link" href="#/register">立即注册</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
