<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 login-box">
      <form name="signin_form" novalidate>
        <div class="login-head">
          <h1>登录</h1>
        </div>
        <div class="col-md-10 col-md-offset-1">
          <a class="login-third-left" href="/users/auth/github">GitHub</a>
          <a class="login-third-right" href="/user/auth/stack overflow">Stack Overflow</a>
          <div class="signin-email">
            <input type="email" class="form-control floating-label" placeholder="邮箱" ng-model="user.username">
          </div>
          <div class="signin-password">
            <input type="text" class="form-control floating-label" placeholder="密码" ng-model="user.password">
          </div>
          <div class="signin-button">
            <button class="btn btn-primary" ng-click="signIn(user.username, user.password, 'coder')">登录</button>
          </div>
          <div class="signin-bottom">
            <a class="link" href="/users/password/new">忘记密码?</a>
            <span>•</span>
            <a class="link" href="#/register">立即注册</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
