<div class="row">
  <nav class="navbar  navbar-fixed-top navbar-background-color">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="/">
        <img alt="Logo black" class="logo-black" src="app/images/logo.png"/>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">招聘高手</a></li>
        <li><a href="#">推荐</a></li>
        <li><a href="#/coder/profile/index">profile</a></li>
        <li><a href="#/coder/profile/edit#personInfo">profile edit personInfo</a></li>
        <li><a href="#/">如何使用</a></li>
        <li><a href="#/login">登录</a></li>
        <li><a href="#/register">获得Offer</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 login-box">
    <div ng-init="signtype= true">
      <div class="col-md-6 coder" ng-click="selectRole('coder', true)" ng-class="{selected:signtype}">程序员</div>
      <div class="col-md-6 hr" ng-click="selectRole('coder', true)" ng-class="{selected:!signtype}">HR</div>
      <div ng-show="signtype" class="regtypeChange">
        <div class="wings">
          <div class="wings-wing"></div>
          <span class="text-register">立即注册</span>
          <div class="wings-wing"></div>
        </div>
        <form name="signup_form" novalidate accept-charset="UTF-8" class="col-md-10 col-md-offset-1">
          <div class="labels">
            <label class="left-label" for="email">Email</label>
            <label class="right-label" for="location">Location</label>
          </div>
          <div class="col-md-6 has-feedback">
            <input id="email" class="input-control" type="text" placeholder="邮箱" name="email" ng-model="register.usermail" />
            <span class="form-control-feedback mdi-content-mail"></span>
          </div>
          <div class="col-md-6 has-feedback">
            <input id="location" class="input-control" type="text" placeholder="城市" name="location" ng-model="register.location" />
            <span class="form-control-feedback mdi-social-location-city"></span>
          </div>
          <div class="labels bottom-label">
            <label class="left-label" for="password">Password</label>
            <label class="right-labels" for="confirmpassword">Password</label>
          </div>
          <div class="col-md-6 has-feedback">
            <input id="password" class="input-control" type="password" placeholder="密码" name="password" ng-model="register.password" />
            <span class="form-control-feedback mdi-action-lock"></span>
          </div>
          <div class="col-md-6 has-feedback">
            <input id="confirmPassword" class="input-control" type="password" placeholder="确认密码" name="confirmPassword" ng-model="register.confirmPassword" />
            <span class="form-control-feedback mdi-action-lock"></span>
          </div>

          <div class="terms-service">
            <div class="checkbox terms">
              <label>
                <input id="terms-of-service" type="checkbox" value="1" checked="checked">我已阅读并同意
              </label>
            </div>
            <div class="service">
              <a target="_blank" href="/terms-of-service">unDrizzle注册协议</a>
            </div>
          </div>
          <div class="reg-end">
            <button class="btn btn-primary btn-full" ng-click="registerUser(register.usermail, register.location, register.password, register.confirmPassword, role)">注册</button>
          </div>
        </form>
      </div>
      <div ng-show="!signtype" class="regtypeChange">
        <div class="wings">
          <div class="wings-wing"></div>
          <span class="text-register">立即注册</span>
          <div class="wings-wing"></div>
        </div>
        <form name="signup_form" novalidate accept-charset="UTF-8" class="col-md-10 col-md-offset-1">
          <div class="labels">
            <label class="left-label" for="company">Company</label>
            <label class="right-labels" for="phone">Phone</label>
          </div>
          <div class="col-md-6 has-feedback">
            <input id="company" class="input-control" type="text" placeholder="公司" name="company" ng-model="register.company" />
            <span class="form-control-feedback mdi-communication-business"></span>
          </div>
          <div class="col-md-6 has-feedback">
            <input id="phone" class="input-control" type="text" placeholder="手机号码" name="phone" ng-model="register.phone" />
            <span class="form-control-feedback mdi-hardware-phone-iphone"></span>
          </div>
          <div class="labels bottom-label">
            <label class="left-label" for="email">Email</label>
            <label class="right-label" for="password">Password</label>
          </div>
          <div class="col-md-6 has-feedback">
            <input id="hremail" class="input-control" type="password" placeholder="邮箱" name="hremail" ng-model="register.hremail" />
            <span class="form-control-feedback mdi-content-mail"></span>
          </div>
          <div class="col-md-6 has-feedback">
            <input id="hrpassword" class="input-control" type="password" placeholder="密码" name="hrpassword" ng-model="register.hrpassword" />
            <span class="form-control-feedback mdi-action-lock"></span>
          </div>
          <div class="reg-ends">
            <button class="btn btn-primary btn-full" ng-click="register(register.usermail, register.location, register.password, register.passwordConfirmation, register.role)">注册</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
