<div class="row">
  <nav class="navbar  navbar-fixed-top navbar-background-color">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="#/index">
        <img alt="Logo black" class="logo-black" src="app/images/logo.png"/>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/">招聘高手</a></li>
        <li><a href="#/">推荐</a></li>
        <li><a href="#/coder/profile/index">profile</a></li>
        <li><a href="#/coder/profile/edit#personInfo">profile edit personInfo</a></li>
        <li><a href="#/">如何使用</a></li>
        <li><a href="#/login">登录</a></li>
        <li><a href="#/register">获得Offer</a></li>
      </ul>
    </div>
    <div class="welcome">
      <div class="col-md-8 col-md-offset-2">
        <div class="big-text inline">
          欢迎来到GitOffer !
        </div>
        <div class="fright wel inline">
          <div class="mid-text">
            请花15分钟完善简历并提交申请。
          </div>
          <div class="small-text">
            一旦您的申请通过，我们会立即将您加入到下一次的程序员拍卖中。
          </div>
        </div>
      </div>
    </div>
    <div class="editpro-nav">
      <div class="col-md-8 col-md-offset-2">
        <div class="middle-text inline">
          您还需要填写：
        </div>
        <div class="profile-nav inline">
          <a class="" href="http://192.168.1.249:1337/#/coder/profile/edit#message">短信验证</a>
          <span class="separator">|</span>
          <a class="" href="http://192.168.1.249:1337/#/coder/profile/edit#personalInfo">个人信息</a>
          <span class="separator">|</span>
          <a class="" href="http://192.168.1.249:1337/#/coder/profile/edit#jobPreferences">期望工作</a>
          <span class="separator">|</span>
          <a class="" href="http://192.168.1.249:1337/#/coder/profile/edit#education">教育经历</a>
          <span class="separator">|</span>
          <a class="" href="http://192.168.1.249:1337/#/coder/profile/edit#workHistory">工作经历</a>
          <span class="separator">|</span>
          <a class="" href="http://192.168.1.249:1337/#/coder/profile/edit#summary">技术总结</a>
        </div>
        <div class="b-s-button inline pro-submit">提交申请</div>
      </div>
    </div>
  </nav>
  <div class="col-md-1 col-md-offset-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="mdi-action-favorite mdi-material-bluegrey favorite">
        短信验证
      </li>
      <li class="mdi-action-favorite mdi-material-bluegrey favorite">
        个人信息
      </li>
      <li class="mdi-action-favorite mdi-material-bluegrey favorite">
        期望工作
      </li>
      <li class="mdi-action-favorite mdi-material-bluegrey favorite">
        教育经历
      </li>
      <li class="mdi-action-favorite mdi-material-bluegrey favorite">
        工作经历
      </li>
      <li class="mdi-action-favorite mdi-material-bluegrey favorite">
        技术总结
      </li>
      <li class="mdi-social-mood mdi-material-pink favorite">
        社交网络
      </li>
      <li class="mdi-notification-phone-locked mdi-material-deeporange favorite">
        隐私保护
      </li>
      <li class="btn btn-primary btn-raised scale" ng-click="saveChanges()">
        保存
      </li>
      <li class="favorites">
        预览简历
        <div class="mdi-navigation-arrow-forward inline arrow"></div>
      </li>
    </ul>
  </div>
  <div class="col-md-7 col-md-offset-3 edit-profile-main">
    <div class="msg-verify" id="verify">
      <div class="mdi-communication-textsms msg-text">短信验证</div>
      <br>
      <div class="ph-num">
        <input class="b-border" />
        <div class="input-btn">免费发送验证短信</div>
      </div>
      <div class="mdi-action-report-problem ph-info">
        <span>手机验证成功后方可提交申请</span>
      </div>
    </div>
    <div class="line"></div>
    <div class="per-info" id="per-info">
      <div class="mdi-action-bookmark-outline msg-text">个人信息</div>
      <form>
        <div class="upload-pic">
          <div class="img-tainer">
            <img alt="blank" src="app/images/header-logo.jpg">
            <div class="img-button">
              <button type="file" class="btn btn-primary" ng-file-select="onFileSelect($files)" ng-model="user.photo" accept="*.jpg,*.png,*.gif">上传头像</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <input class="b-border" placeholder="中文姓名">
          </div>
          <div class="col-sm-6 next-input">
            <span class="select-arrow"></span>
            <select class="b-border" id="talent_education" name="talent[education]">
              <option disabled="disabled" selected="selected" value>请选择学历</option>
              <option value="junior">大专</option>
              <option value="bachelor">本科</option>
              <option value="master">硕士</option>
              <option value="doctor">博士</option>
            </select>
          </div>
          <div class="col-sm-6">
            <span class="select-arrow"></span>
            <select class="b-border" id="talent_sex" name="talent[sex]">
              <option disabled="disabled" selected="selected">请选择性别</option>
              <option value="male">男士</option>
              <option value="female">女士</option>
            </select>
          </div>
          <div class="col-sm-6 next-input">
            <span class="select-arrow"></span>
            <select class="b-border" id="talent_work_year" name="talent[work_year]">
              <option disabled="disabled" selected="selected">请选择工作年限</option>
              <option value="one_year">一年</option>
              <option value="two_year">两年</option>
              <option value="three_year">三年</option>
              <option value="four_year">四年</option>
              <option value="five_year">五年</option>
              <option value="more_than_five_year">五年以上</option>
            </select>
          </div>
          <div class="col-sm-6">
            <input class="b-border" placeholder="手机号码">
          </div>
        </div>
      </form>
    </div>
    <div class="line"></div>
    <div class="job-performance" id="job-performance">
      <div class="mdi-hardware-keyboard msg-text">期望工作</div>
      <form>
        <div class="talent-skill">
          <h4>您擅长的技能是？</h4>
          <div class="row">
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="1">C/C++
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="2">.Net
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="3">Java
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="4">Go
              </label>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="5">HTML/CSS
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="6">PHP
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="7">Javascript
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="8">node.js
              </label>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="9">Ruby
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="10">Python
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="11">Android
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="12">ios
              </label>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="13">ActionScript
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="14">Data Scientist
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="15">测试工程师
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="16">安全工程师
              </label>
            </div>
          </div>
          </div>
        </div>
        <div class="talent-skill">
          <h4>您期望的工作地点是？</h4>
          <div class="row">
            <div class="col-sm-3">
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="location" value="0">
                北京
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="location" value="1">
                上海
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="location" value="2">
                广州
              </label>
            </div>
          </div>
            <div class="col-sm-3">
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="location" value="3">
                深圳
              </label>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="location" value="4">
                杭州
              </label>
            </div>
          </div>
            <div class="col-sm-2">
            <div class="radio radio-primary">
              <label>
                <input type="radio" name="location" value="5">
                其他
              </label>
            </div>
          </div>
            <div class="col-sm-3">
              <input class="b-border location-text" placeholder="其他">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="line"></div>
    <div class="edu-history" id="edu-history">
      <div class="mdi-social-school msg-text">教育经历</div>
      <form>
        <div class="detail-edit">
          <div class="row">
            <div class="col-sm-6 next-input">
              <input class="b-border" placeholder="学校名称">
            </div>
            <div class="col-sm-6">
              <input class="b-border" placeholder="专业">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon start-time">开始</span>
                  <input class="b-border inline" name="edu-history[starttime]" type="text" value="2015-01" />
                  <span class="input-group-addon stop-time">结束</span>
                  <input class="b-border inline" name="edu-history[stoptime]" type="text" value="2015-01" />
                </div>
              </div>
            </div>
            <div class="col-sm-6 next-input">
              <span class="select-arrow"></span>
              <select class="b-border" id="talent_edu_background" name="talent[edu_background]">
                <option disabled="disabled" selected="selected">请选择学历</option>
                <option value="junior">大专</option>
                <option value="bachelor">本科</option>
                <option value="master">硕士</option>
                <option value="doctor">博士</option>
              </select>
            </div>
            <div class="edu-btn">
              <button class="btn btn-primary">增加</button>
            </div>
          </div>
        </div>
      </form>
      <div class="edu-info">
        <p>告诉我们你曾经就读的学校与专业吧，这可以充分体现你的学习能力与专业背景。</p>
        <br>
        <p>只有填完才能提交哦！</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="work-history" id="work-history">
      <div class="mdi-action-work msg-text">工作经历</div>
      <form class="form-inline">
        <div class="detail-edit">
          <div class="row">
            <div class="col-sm-6 next-input">
              <input class="b-border" placeholder="公司名称">
            </div>
            <div class="col-sm-6 next-input">
              <input class="b-border" placeholder="职位名称">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 next-input">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon start-time">开始</span>
                  <input class="b-border inline" name="work-history[starttime]" type="text" value="2015-01" />
                  <span class="input-group-addon stop-time">结束</span>
                  <input class="b-border inline" name="work-history[stoptime]" type="text" value="2015-01" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <textarea class="b-border" id="exp_work_description" name="exp_work[description]" rows="5" style="min-height: 200px; width: 100%; overflow: hidden; word-wrap: break-word; resize: horizontal; height: 280px;" text="工作经验描述" placeholder="工作经验描述"></textarea>
        <div class="edu-btn">
          <button class="btn btn-primary">增加</button>
        </div>
      </form>
      <div class="edu-info">
        <p>工作经历最能体现自己的工作能力，</p>
        <br>
        <p>且完善后才可投递简历哦！</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="tech-summary" id="tech-summary">
      <div class="mdi-editor-format-list-numbered msg-text">技术总结</div>
      <h4 class="text-tech">一份详细的技术总结，可以帮助您获得最好的机会。</h4>
      <a href="https://sg-avatars.b0.upaiyun.com/etc/tech_intro_sample.jpg" style="float:left;" target="_blank">
        <img alt="tech-intro-sample" src="app/images/tech_intro_sample.png">
      </a>
      <ul class="intro-description" style="margin-left: 120px;">
        <li>在工作中做的项目的技术细节</li>
        <li>克服过的技术难点与细节</li>
        <li>感兴趣的技术</li>
        <li>在程序马拉松上参加的项目或者是业余的个人项目</li>
        <li>如果您领导过技术团队，请写下您带的团队的规模与管理风格</li>
      </ul>
      <div class="mt20 markdown-editor" id="self-intro">
        <form accept-charset="UTF-8">

        </form>
      </div>
    </div>
  </div>
</div>

