<div class="side-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="大橘子官网" >
			<img src="app/img/logo.jpg" />
		</a>		
	</div>
	<div class="header-info">
		<div class="search-section">
			<form id="J_searchForm" class="search-form clearfix" action="/search" method="get">
                <input class="search-text" type="search" name="keyword" autocomplete="off" data-search-config="{'defaultWords':[&quot;大橘子&quot;,&quot;小橘子&quot;,&quot;红橘子&quot;,&quot;黄橘子&quot;]}" placeholder="搜索您需要的商品">
                <input type="submit" class="search-btn" value="搜索" />
                <!--[if IE 6]><div class="ie6-fix"></div><![endif]-->
				<div id="J_keywordList" class="keyword-list" style="opacity: 0;">
					<ul class="result-list">
						<li data-key="大橘子"><a href="">大橘子</a></li>
						<li data-key="小橘子"><a href="">小橘子</a></li>
						<li data-key="红橘子"><a href="">红橘子</a></li>
						<li data-key="黄橘子"><a href="">黄橘子</a></li>
					</ul>
				</div>				
			</form>
		</div>
		<div class="cart-section">
			<a id="J_miniCart" class="mini-cart" href="/#/cart" onclick=""><img src="app/img/cart.ico" />   购物车<span class="j_cartnum">({{count}})</span></a>
			<div id="J_miniCartList" class="mini-cart-list" style="display: none;">
				<p class="loading">数据加载中，请稍后...</p>
			</div>
		</div>	
		<div class="logout-section">
		  <h1 id="main-title" >Hi </h1> 
		  <input type="text"  ng-model="username"></input>
          <p>You've successfully logged in.</p>          
          <input type="submit" ng- ng-click="logout()" value="logout"></input>
		</div>	
	</div>
	<div class="header-nav clearfix">
		<div id="J_categoryContainer" class="nav-category">
			<a class="btn-category-list" href="#">全部商品分类</a>
			<div class="nav-category-section" style="display: block;">
				<ul class="nav-category-list">
					<li class="nav-category-item nav-category-item-first">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品A</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品B</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品C</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品D</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品E</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-main">
			<ul class="nav-main-list J_menuNavMain clearfix">
				<li class="nav-main-item">
                    <a href="#"><span class="text">首页</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#">
						<span class="text">锤子系列</span>
						<span class="arrow"></span>
					</a>
					
					<div class="nav-main-children">
                        <ul class="children-list clearfix">                        
                            <li class="first">
                                <a class="item-detail" href="#/pro_a" >   
									<div class="pro-A">
										<h3>大锤子C1</h3>
										<p>1.2G四核NFC普及版</p>
										<p>1280*720分辨率</p>
										<p>899元起</p>
									</div>
                                    <span class="thumb">									
										<img src="app/img/product/pro_1.jpg" width="160" height="160">										                                     
                                    </span>
                                </a>
                            </li>
                        
                            <li>
                                <a class="item-detail" href="#pro_b" >  
									<div class="pro-A">
										<h3>大锤子C2</h3>
										<p>1.5G四核NFC旗舰版</p>
										<p>1920*1080分辨率</p>
										<p>1399元起</p>
									</div>
                                    <span class="thumb">
                                        <img src="app/img/product/pro_1.jpg" width="160" height="160">
                                    </span>
                                </a>
                            </li>
                        
                        </ul>
                    </div>
                </li>
				<li class="nav-main-item">
                    <a href="#/goods/mitv"><span class="text">小米电视</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#"><span class="text">商品C</span></a>
                </li>
			</ul>
		</div>
	</div>	
</div>
<div class="container" >
	<div class="row">
		<div class="col col16 offset4" >
			<div class="home-sider" ng-controller="CarouselDemoCtrl">
				<div style="height: 371px">
				<carousel interval="myInterval">
				  <slide ng-repeat="slide in slides" active="slide.active">
					<a href="{{slide.url}}"><img ng-src="{{slide.image}}" style="margin:auto;height:371px;width:970px"></a>
					<div class="carousel-caption">
					  <h4>Slide {{$index}}</h4>
					  <p>{{slide.text}}</p>
					</div>
				  </slide>
				</carousel>
			  </div>
			</div>
		</div>
	</div>
</div>

