<link rel="stylesheet" href="css/tv.css"/>
<div class="side-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="大橘子官网" >
			<img src="/img/logo.jpg" />
		</a>
	</div>
	<div class="header-info">
		<div class="search-section">
			<form id="J_searchForm" class="search-form clearfix" action="/search" method="get">
                <input class="search-text" type="search" name="keyword" autocomplete="off" data-search-config="{'defaultWords':[&quot;大橘子&quot;,&quot;小橘子&quot;,&quot;红橘子&quot;,&quot;黄橘子&quot;]}" placeholder="搜索您需要的商品">
                <input type="submit" class="search-btn" value="搜索" />			
			</form>
		</div>
		<div class="cart-section">
			<a id="J_miniCart" class="mini-cart" href="/#/cart?userid={{userid}}" onclick=""><img src="/img/cart.ico" />   购物车<span class="j_cartnum">({{count}})</span></a>
			<div id="J_miniCartList" class="mini-cart-list" style="display: none;">
				<p class="loading">数据加载中，请稍后...</p>
			</div>
		</div>		
	</div>	
	<div class="header-nav clearfix">
		<div id="J_categoryContainer" class="nav-category nav-category-toggled">
			<a class="btn-category-list" href="#">全部商品分类<i class="category_arrow"></i></a>
			<div class="nav-category-section">
				<ul class="nav-category-list">
					<li class="nav-category-item nav-category-item-first">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品A</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品B</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品C</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品D</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品E</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-main">
			<ul class="nav-main-list J_menuNavMain clearfix">
				<li class="nav-main-item">
                    <a href="#"><span class="text">首页</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#">
						<span class="text">锤子系列</span>
						<span class="arrow"></span>
					</a>
					<div class="nav-main-children">
                        <ul class="children-list clearfix">                        
                            <li class="first">
                                <a class="item-detail" href="#/pro_a" >   
									<div class="pro-A">
										<h3>大锤子C1</h3>
										<p>1.2G四核NFC普及版</p>
										<p>1280*720分辨率</p>
										<p>899元起</p>
									</div>
                                    <span class="thumb">									
										<img src="/img/product/pro_1.jpg" width="160" height="160">										                                     
                                    </span>
                                </a>
                            </li>
                        
                            <li>
                                <a class="item-detail" href="#pro_b" >  
									<div class="pro-A">
										<h3>大锤子C2</h3>
										<p>1.5G四核NFC旗舰版</p>
										<p>1920*1080分辨率</p>
										<p>1399元起</p>
									</div>
                                    <span class="thumb">
                                        <img src="/img/product/pro_1.jpg" width="160" height="160">
                                    </span>
                                </a>
                            </li>
                        
                        </ul>
                    </div>
                </li>
				<li class="nav-main-item">
                    <a href="#/goods/mitv"><span class="text">小米电视</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#"><span class="text">商品C</span></a>
                </li>
			</ul>
		</div>
	</div>	
</div>
<div class="nav-bar">
	<div class="product-content mitv-content-intro">
		<div class="section section-intro xm-animation xm-animation-active">
			<div class="content">
				<h3 class="title">小米电视 2</h3>
				<h4 class="subtitle">配备独立音响的顶配 4K 电视</h4>
				<p class="price"><span>3999</span>元 <em>含电视、Soundbar 与无线低音炮</em></p>
				<p class="tips">已全面开放购买 免预约</p>
				<a class="btn btn-primary btn-small btn-delivery J_jumpSection" href="#/static/buyTV?sn=TV1000003">立即购买</a>
			</div>

		</div>
		<div class="section section-mode xm-animation xm-animation-active">
			<div class="container">
				<div class="content">
					<h3 class="title">年轻人的第一套家庭影院</h3>
					<h4 class="subtitle">顶配 49 英寸超高清 4K 电视，配备独立发烧级音响</h4>
					<p class="text">电视再不是你播放，我收看。年轻，就应该尽兴的看大片，听摇滚，玩游戏！小米电视 2 不仅有顶级的 4K 屏幕、精心调校的画质，还有超越以往电视的 8+1 高品质扬声器的外置音响，这一切都为了让电影更震撼、音乐更醇美、游戏更逼真，就像将电影院搬到你的客厅。</p>
					<a class="link btn-cinema" href="" data-lightbox="cinema">体验家庭影院</a>
				</div>
			</div>
		</div>
		<div class="section section-screen xm-animation xm-animation-active">
			<div class="container">
				<div class="content">
					<h3 class="title">不仅有超高清 4K 屏、顶级背光模组<br>还有精心调校的好画质</h3>
					<h4 class="subtitle">清晰度是上一代 1080p 的 4 倍，特有超高清画质增强技术</h4>
					<p class="text">电视的画质由液晶面板、背光模组、内置图像增强技术决定。<br>小米电视 2 采用了高品质 LG、华星光电 4K 液晶屏，世界顶级的瑞仪背光模组保证色彩准确。同时使用专有的画质增强技术，对画面进行了色彩修正、降噪、边缘锐化等处理。8 个动态图像分区提供高动态对比度，让画面明暗分明，细节出众。</p>
					<a class="link J_jumpSection" href="">了解画质 »</a>
					<ul class="screen-feature-list clearfix">
						<li><span class="icon-lg ir"></span>LG 液晶面板</li>
						<li><span class="icon-uhd ir"></span>超高清</li>
						<li><span class="icon-3d ir"></span>3D 显示</li>
						<li><span class="icon-12 ir"></span>超高清画质增强</li>
						<li><span class="icon-smart-dimming ir"></span>智能分区背光</li>
					</ul>
				</div>
			</div>
			<div class="compare">
				<div class="compare-pic">
					<div class="compare-high">
						<img src="../img/product/mitv/home-compare-high.jpg" alt="">
					</div>
					<div class="compare-low">
						<img src="../img/product/mitv/home-compare-low.jpg" alt="">
					</div>
				</div>
				<div class="compare-text clearfix">
					<div class="compare-low">普通 1080p 画质</div>
					<div class="compare-high">4K 超高清画质</div>
				</div>
			</div>
		</div>
	</div>
</div>

