<div class="side-header site-mini-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="大橘子官网" >
			<img src="/img/logo.jpg" />
		</a>
	</div>	
</div>
<div class="container">
	<div class="shop-cart-box" >
		<div class="shop-cart-box-hd">
            <h2 class="title">我的购物车</h2>
				<p class="tip">
					在线支付全场满¥150免运费
				</p>
		</div>
	</div>
	<div class="shop-cart-box-bd" >
		<div class="shop-cart-empty" ng-show="iscartempty">
			<h2>你的购物车还是空的赶紧行动吧！</h2>
			<a href="" class="btn btn-primary">马上去购物 <i class="icon-common icon-common-nextRound"></i>
			</a>
		</div>
		<dl class="shop-cart-goods"  ng-show="!iscartempty">
			<dt class="clearfix">
                <span class="col col-1">商品</span>
                <span class="col col-2">单价</span>
                <span class="col col-3">数量</span>
                <span class="col col-4">小计</span>
                <span class="col col-5">操作</span>
            </dt>
			<dd class="item  clearfix J_proItem" ng-repeat="cart in carts">
				<div class="item-row">
					<div class="col col-1">
						<div class="g-pic">
							<a href="" target="_blank"><img alt="" src={{cart.imgurl}} width="120" height="120"></a>							 
						</div>
						<div class="g-info">
							<div class="g-name">														
								<a href="" target="_blank">
									{{cart.desc}} {{cart.color}}                                    
								</a>
							</div>
							<p class="g-type">
								<span>适配机型：</span>
								<span>{{cart.tag}}</span>
							</p>
							<p class="g-other-info">
								
							</p>
						</div>
					</div>
					<div class="col col-2">
                        {{cart.price}}元
                    </div>
					<div class="col col-3"> 
                        <div class="change-goods-num clearfix J_changeGoodsNum">
							<input type="number" class="form-control" ng-model="cart.count">
						</div>                                                        
                    </div>
					<div class="col col-4">
                        <em>{{cart.price*cart.count}}元</em>                           
                    </div>
					<div class="col col-5">
						<a id="2134900039_0_buy"  href="" title="删除" class="del J_delGoods"><img class="iconfont-del" ng-click="cart_del(cart.id)" src="../img/closed.ico" /></a>          
					</div>
				</div>
			</dd>
		</dl>
	</div>
	<div class="shop-cart-box-ft clearfix">
		<div class="xm-add-buy">
                
        </div>
		<div class="shop-cart-total">
            <p class="total-price">商品总计：<span><strong>{{pricetotal}}</strong>元</span></p>
        </div>
		<div class="shop-cart-action clearfix">
            <input type="button" class="btn btn-primary btn-next" id="toCheckBtn" ng-click="accounts()" value="去结账"></a>
            <a href="" class="btn btn-lineDakeLight btn-back">继续购物</a>
            <div class="tips">
                               
            </div>
        </div>
	</div>
</div>
