<div class="suc_content changP">
	<div class="suc_kuang">
		<div class="info">
			<span class="left_name">
				<span class="m_name"><a href="/" class="color_33">橘子帐号</a>&nbsp;&nbsp;&gt;</span>
				<span class="m_func">重设帐号密码</span>
			</span>
			<span class="right"><a href="#/userinfo?id={{userid}}">返回</a>
			</span>
		</div>
		<form id="changePwdForm" method="post" ng-submit="changePass()">
			<div class="changP_container">
				<p class="account_tips">请重设您的帐号密码</p>
			<dl class="clearfix"> 
			  <dt class="dt_l">当前密码：</dt>
			  <dd class="dd_r clearfix">
				<input id="txtPwd" class="input_kuang new_width item errortip" type="password" isrequired="true" ng-model="oldpassword">
				<span class="check_tips empty_tip" id="emailCode" ng-show＝"!!N_show">{{N_message}}</span>
			  </dd>
			  <dt class="dt_l clearfix">新密码：</dt>
			  <dd class="dd_r clearfix dd_r_pos" id="pwdTd">
				  <input class="input_kuang new_width item errortip" type="password" isrequired="true" id="pwd" ng-model="password1">
				  <span class="check_tips" id="info_tips" ng-show＝"!!P_show">{{P_message}}</span>
			  </dd>
			  <dt class="dt_l clearfix">再次确认新密码：</dt>
			  <dd class="dd_r clearfix">
				<input class="input_kuang new_width item errortip" type="password" isrequired="true" ng-model="password2" repeat="#pwd">
				<span class="check_tips repeat_tip" ng-show＝"!!V_show">{{V_message}}</span>
			  </dd>
			  <!--输出图片识别码-->
			  
				<dt class="dt_l"></dt>
				<dd class="dd_r clearfix">
				  <div class="sub_bg">
					<input class="no_bg" type="submit" value="提交">
				  </div>
				</dd>
				</dl>
			  </div>
		</form>
	</div>
</div>
