<div class="side-header site-mini-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="大橘子官网" >
			<img src="/img/logo.jpg" />
		</a>
	</div>	
</div>
<div class="container payment-con">
	<div class="order-info">
		<div class="msg">
			<h3>您的订单已提交成功！付款咯～</h3>
			<p>
										<!--请在<span class="pay-time-tip">??小时内</span>完成支付，超时后将取消订单-->
			</p>
			<p class="post-date">成功付款后，7个工作日内将为您发货</p>
		</div>
		<div class="info">
			<p>
				金额：<span class="pay-total">39.00元</span>
			</p>
			<p>
				订单：1140912430012270 
			</p>
			<p>
				配送：倪新龙 <span class="line">/</span>
				138****9338   <span class="line">/</span>
				浙江,杭州市,萧山区 瓜沥镇友谊路27-1号
			</p>
		</div>
		<div class="icon-box">
			<i class="iconfont"></i>
		</div>
	</div>
</div>
