<div class="side-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="大橘子官网" >
			<img src="/img/logo.jpg" />
		</a>
	</div>
	<div class="header-info">
		<div class="search-section">
			<form id="J_searchForm" class="search-form clearfix" action="/search" method="get">
                <input class="search-text" type="search" name="keyword" autocomplete="off" data-search-config="{'defaultWords':[&quot;大橘子&quot;,&quot;小橘子&quot;,&quot;红橘子&quot;,&quot;黄橘子&quot;]}" placeholder="搜索您需要的商品">
                <input type="submit" class="search-btn" value="搜索" />
                <!--[if IE 6]><div class="ie6-fix"></div><![endif]-->
				<div id="J_keywordList" class="keyword-list" style="opacity: 0;">
					<ul class="result-list">
						<li data-key="ճꚗӢ><a href="">ճꚗӼ/a></li>
						<li data-key="СꚗӢ><a href="">СꚗӼ/a></li>
						<li data-key="۬ꚗӢ><a href="">۬ꚗӼ/a></li>
						<li data-key="܆ꚗӢ><a href="">܆ꚗӼ/a></li>
					</ul>
				</div>				
			</form>
		</div>
		<div class="cart-section">
			<a id="J_miniCart" class="mini-cart" href="/#/cart" onclick=""><img src="/img/cart.ico" />   购物车<span class="j_cartnum">({{count}})</span></a>
			<div id="J_miniCartList" class="mini-cart-list" style="display: none;">
				<p class="loading">数据加载中，请稍后...</p>
			</div>
		</div>		
	</div>	
	<div class="header-nav clearfix">
		<div id="J_categoryContainer" class="nav-category nav-category-toggled">
			<a class="btn-category-list" href="">全部商品分类<i class="category_arrow"></i></a>
			<div class="nav-category-section">
				<ul class="nav-category-list">
					<li class="nav-category-item nav-category-item-first">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品A</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品B</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品C</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品D</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
					<li class="nav-category-item">
						<div class="nav-category-content" >
							<a class="title" href="#">购买产品E</a>
							<div class="links">
								<a href="#" >商品A</a>
								<a href="#" >商品B</a>
								<a href="#" >商品C</a>
								<a href="#" >商品D</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-main">
			<ul class="nav-main-list J_menuNavMain clearfix">
				<li class="nav-main-item">
                    <a href="#"><span class="text">首页</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#">
						<span class="text">锤子系列</span>
						<span class="arrow"></span>
					</a>
					<div class="nav-main-children">
                        <ul class="children-list clearfix">                        
                            <li class="first">
                                <a class="item-detail" href="#/pro_a" >   
									<div class="pro-A">
										<h3>大锤子C1</h3>
										<p>1.2G四核NFC普及版</p>
										<p>1280*720分辨率</p>
										<p>899元起</p>
									</div>
                                    <span class="thumb">									
										<img src="/img/product/pro_1.jpg" width="160" height="160">										                                     
                                    </span>
                                </a>
                            </li>
                        
                            <li>
                                <a class="item-detail" href="#/pro_b" >  
									<div class="pro-A">
										<h3>大锤子C2</h3>
										<p>1.5G四核NFC旗舰版</p>
										<p>1920*1080分辨率</p>
										<p>1399元起</p>
									</div>
                                    <span class="thumb">
                                        <img src="/img/product/pro_1.jpg" width="160" height="160">
                                    </span>
                                </a>
                            </li>
                        
                        </ul>
                    </div>
                </li>
				<li class="nav-main-item">
                    <a href="#/goods/mitv"><span class="text">小米电视</span></a>
                </li>
				<li class="nav-main-item">
                    <a href="#"><span class="text">商品C</span></a>
                </li>
			</ul>
		</div>
	</div>	
</div>
<div class="container clearfix">
	<div class="row">
		<div class="span4">
			<div class="uc-nav-box">
				<div class="box-hd">
					<h3 class="title">个人中心</h3>
				</div>
				<div class="box-bd">
					<ul class="uc-nav-list">
						<li><a href="#/userinfo?id={{userid}}">我的个人中心</a></li>
						<li class="current"><a href="#/order?id={{userid}}">我的订单</a></li>
						<li><a href="#">我的付费服务</a></li>
						<li><a href="#">我的现金账户</a></li>
						<li><a href="#">商品评价</a></li>
						<li><a href="#">我的收藏</a></li>
						<li><a href="#">我的优惠券</a></li>
					</ul>
				</div>
			</div>
			<div class="uc-nav-box">
				<div class="box-hd">
					<h3 class="title">账户管理</h3>
				</div>
				<div class="box-bd">
					<ul class="uc-nav-list">
						<li><a href="#/user/address?id={{userid}}">收货地址管理</a></li>
						<li><a href="#/changeP?id={{userid}}">修改密码</a></li>
						<li><a href="#">VIP认证</a></li>
					</ul>
				</div>
			</div>
		</div>		
		<div class="span16">
			<div class="xm-line-box uc-box">
				<div class="box-hd">
					<h3 class="title">我的订单</h3>
					<div class="more">
						<div class="uc-order-list-type">
							<a class="current" href="">全部订单</a>
							<span class="sep">|</span>
							<a href="">未支付订单</a>
							<span class="sep">|</span>
							<a href="">话费充值订单</a>
							<span class="sep">|</span>
							<a href="">已关闭订单</a>
						</div>
					</div>
				</div>
				<div class="box-bd">
					<div class="uc-order-list-box">
						<ul class="uc-order-detail-list">
							<li class="uc-order-detail-item empty" ng-show="isempty">您目前还没有交易订单。</li>
							<order-list ng-show="!isempty"/>
						</ul>
					</div>
                </div>
			</div>
		</div>
	</div>
</div>
