<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<form class="form">
  <p class = name">
    <label for="name">Name</label>
    <input type="text" name="name", id="name" />
  </p>
  <p class = "email">
    <label for="email">E-mail</label>
    <input type="text" name="email", id="email" />
  </p>
  <p class = "name">
    <label for="name">Name</label>
    <input type="text" name="name", id="name" />
  </p>
  <p class ="text">
    <textarea  name="text"> </textarea>
  </p>
  <p class = "submit">
    <input type="submit" value="Send" />
  </p>
</form>

<link rel="stylesheet" href="css/stan/form.css">
