<div class="side-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="大橘子官网" >
			<img src="/img/logo.jpg" />
		</a>
	</div>
	<div class="header-info">
		<div class="search-section">
			<form id="J_searchForm" class="search-form clearfix" action="/search" method="get">
                <input class="search-text" type="search" name="keyword" autocomplete="off" data-search-config="{'defaultWords':[&quot;大橘子&quot;,&quot;小橘子&quot;,&quot;红橘子&quot;,&quot;黄橘子&quot;]}" placeholder="搜索您需要的商品">
                <input type="submit" class="search-btn" value="搜索" />
                <!--[if IE 6]><div class="ie6-fix"></div><![endif]-->			
			</form>
		</div>
		<div class="cart-section">
			<a id="J_miniCart" class="mini-cart" href="" onclick=""><img src="/img/cart.ico" />   购物车<span class="j_cartnum">({{count}})</span></a>
			<div id="J_miniCartList" class="mini-cart-list" style="display: none;">
				<p class="loading">数据加载中，请稍后...</p>
			</div>
		</div>		
	</div>			
</div>
<div class="container">
	<a href="#/goods/mobile?sn=MB1000002"><img class="c1_img01" src="../img/product/1377348375_93_4804.png" alt="大锤C1"></a>
	<tabset justified="true">
		<tab heading="产品介绍">
			<div class="tab_div">
				<div id="sjlr1">
					<ul>
						<li>
							<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td align="center">
											<img src="../img/product/c1/7.jpg">
										</td>
									</tr>
									<tr>
										<td align="center">
											<h1>CPU</h1>
										</td>
									</tr>
									<tr>
										<td align="center">
											<h2>超强智能四核1.5G CPU<br>
											28纳米制造工艺 低温省电兼备</h2>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td align="center">
											<img src="../img/product/c1/2.jpg"></td>
									</tr>
									<tr>
										<td align="center">
											<h1>Power VR SGX544MP GPU</h1>
										</td>
									</tr>
									<tr>
										<td align="center">
											<h2>支持720P和1080P高清播放和录制<br>
											高清视频和3D游戏体验更加淋漓尽致</h2>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li style="border:currentColor;">
							<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td align="center">
											<img src="../img/product/c1/3.jpg">
										</td>
									</tr>
									<tr>
										<td align="center">
											<h1>16G ROM闪存+1G RAM内存</h1>
										</td>
									</tr>
									<tr>
										<td align="center">
											<h2>1GB高容量运行内存，16GB极速闪存<br>
											支持32G扩展内存卡，告别容量束缚</h2>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td align="center">
											<img src="../img/product/c1/4.jpg">
										</td>
									</tr>
									<tr>
										<td align="center">
											<h1>500万前置</h1>
										</td>
									</tr>
									<tr>
										<td align="center">
											<h2>停留精彩瞬间（500万像素背照式前置摄像头）<br>
											可冲印10英寸照片)</h2>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td align="center">
											<img src="../img/product/c1/5.jpg">
										</td>
									</tr>
									<tr>
										<td align="center">
											<h1>1300万背照式高清摄像头</h1>
										</td>
									</tr>
									<tr>
										<td align="center">
											<h2>捕捉生活每个细节<br>
											媲美iphone5的背照式摄像头<br>
											F/2.2大光圈</h2>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
					<ul>
						<li style="border:currentColor;">
							<table class="ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
									<tr>
										<td align="center">
											<img src="../img/product/c1/6.jpg">
										</td>
									</tr>
									<tr>
										<td align="center">
											<h1>2500毫安锂电</h1>
										</td>
									</tr>
									<tr>
										<td align="center">
											<h2>采用低功耗28纳米CPU<br>
											（更节能，相对提高更久的续航时间）</h2>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</tab>
		<tab heading="产品参数">
			<div class="tab_div">
				产品参数
			</div>
		</tab>
		<tab heading="检测流程">
			<div class="tab_div">
				检测流程
			</div>
		</tab>
	</tabset>
</div>



