
<div class="container">
	<div class="l_header">
		<h1 id="l_logo">
			<a href="http://localhost:1337/" target="_top"><img src="/img/logo.jpg"></a>
		</h1>
	</div>
	<div class="l_body clearfix">
		<form class="box login" ng-submit="register()">
			<fieldset class="boxBody">
			  <label>用户名:</label>
			  <input type="text" tabindex="1" ng-model="username" placeholder="PremiumPixel" required>
			  <label>密码:</label>
			  <input type="password" tabindex="2" ng-model="password" required>
			  <label>确认密码:</label>
			  <input type="password" tabindex="3" ng-model="confirm" required>
			</fieldset>
			<footer>	 
			  <input type="submit" class="btnLogin" value="注册" tabindex="4">
			</footer>
		</form>
		<div class="abc">
			<img src="/img/l_logo.jpg">
		</div>
	</div>
</div>