<div class="side-header container">
	<div class="site-logo">
		<a class="logo" href="/#/index" title="大橘子官网" >
			<img src="/img/logo.jpg" />
		</a>
	</div>
	<div class="header-info">
		<div class="search-section">
			<form id="J_searchForm" class="search-form clearfix" action="/search" method="get">
                <input class="search-text" type="search" name="keyword" autocomplete="off" data-search-config="{'defaultWords':[&quot;大橘子&quot;,&quot;小橘子&quot;,&quot;红橘子&quot;,&quot;黄橘子&quot;]}" placeholder="搜索您需要的商品">
                <input type="submit" class="search-btn" value="搜索" />
                <!--[if IE 6]><div class="ie6-fix"></div><![endif]-->			
			</form>
		</div>
		<div class="cart-section">
			<a id="J_miniCart" class="mini-cart" href="/#/cart" onclick=""><img src="/img/cart.ico" />   购物车<span class="j_cartnum">({{count}})</span></a>
			<div id="J_miniCartList" class="mini-cart-list" style="display: none;">
				<p class="loading">数据加载中，请稍后...</p>
			</div>
		</div>		
	</div>			
</div>
<div class="container">
	<button ng-click="addProduct()">添加商品</button>
</div>