/* app css stylesheet */
body {
	min-width: 768px;
	font: 12px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}

a {
	text-decoration: none;
	color: #8c8c8c;
}

h2 ,h4 , dd, p{
	margin: 0;
	padding: 0;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* login css */
.l_header {
	height: 100px;
	padding-top: 30px;
}

.abc {
	width: 350px;
	height: 280px;
	float: left;
	display: inline;
	margin-left: 170px;
}

.abc  img{
	width: 350px;
	height: 280px;
}

.input_text{

    width: 150px;

    height: 24px;

    cursor: pointer;

}

.input_button{

    width: 60px;

    height: 30px;

    color: #FFF;

    background: #3399ff;

    border: solid 1px #6699cc;

    margin: 3px 4px 5px 3px;

    border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;

    background-image: -moz-linear-gradient(0% 100% 90deg, #3399ff,#99ccff 100%);

    box-shadow:1px 2px 3px #999;

    -moz-box-shadow:1px 2px 3px #999;

    -webkit-box-shadow:1px 2px 3px #999;

}

/* Login */

.box
{
    background:#fefefe;
    border: 1px solid #C3D4DB;
	border-top:1px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    box-shadow:rgba(0,0,0,0.15) 0 0 1px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
	overflow:hidden;
}
.box.login
{
	/*height:260px;*/
    width:332px;
	margin-right:160px;
	float: right;
	display: inline;
}
.boxBody
{
    background:#fefefe;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
}

.box footer
{
    background:#eff4f6;
    border-top:1px solid #fff;
    padding:22px 26px;
    overflow:hidden;
	height:32px;
}
.box label
{
    display:block;
    font:14px/22px Arial, Helvetica, Sans-serif;
    margin:10px 0 0 6px;
}
.box footer label{
	float:left;
	margin:4px 0 0;
}
.box footer input[type=checkbox]{
	vertical-align:sub;
	*vertical-align:middle;
	margin-right:10px;
}
.box input[type=text],
.box input[type=password],
.txtField,
.cjComboBox
{
    border:6px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:270px;
    display:block;
}
.box input[type=text]:focus,
.box input[type=password]:focus,
.txtField:focus,
.cjComboBox:focus
{
    border:6px solid #f0f7fc;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
	color:#333;
}
.cjComboBox
{
    width:294px;
}
.cjComboBox.small
{
    padding:3px 2px 3px 6px;
    width:100px;
    border-width:3px !important;
}
.txtField.small
{
    padding:3px 6px;
    width:200px;
    border-width:3px !important;
}

.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box a{color:#999;}
.box a:hover, .box a:focus{text-decoration:underline;}
.box a:active{color:#f84747;}
.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #badff3, #7acbed);
    background:-webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#badff3', EndColorStr='#7acbed')";
    border:1px solid #7db0cc !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    float:right;
	padding:7px 21px;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active{
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #7acbed, #badff3);
    background:-webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7acbed', EndColorStr='#badff3')";
}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}

/* topbar css*/
.site-topbar {
	height: 36px;
	border-bottom: 1px solid #dfdfdf;
	font-size: 12px;
	line-height: 36px;
	color: #8c8c8c;
	background: #fafafa;
	position: relative;
}

.container {
	width: 90%;	
	margin-right: auto;
	margin-left: auto;
}

.container:before, .container:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
}

.container:after {
	clear: both;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	clear: both;
	line-height: 0;
}

.clearfix:after {
	clear: both;
}

.topbar-info {
	float: right;
	position: relative;
	text-align: right
}

.topbar-nav {
	float: left;
}

.site-topbar a {
	text-decoration: none;
	color: #8c8c8c;
}

.site-topbar .sep {
	margin: 0 10px;
	color: #dfdfdf;
}

/*	side-header*/
.side-header {
	padding-top: 25px;
	position: relative;
}

.site-logo {
	width: 70px;
	height: 70px;
	float: left;
	margin-bottom: 15px;
}

.logo img {
	width: 70px;
	height: 70px;
	margin-bottom: 15px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.header-info {
	float: right;
	margin: 25px 0 15px;
}

.search-section {
	float: left;
	_display: inline;
	margin-right: 10px;
}

.search-form {
	width: 422px;
	height: 38px;
	border: 1px solid #dfdfdf;
}

.search-text {
	float: left;
	width: 352px;
	height: 20px;
	padding: 9px 15px;
	border: 0;
	line-height: 20px;
	color: #333;
	background: #fff;
}

.search-btn {
	font-size: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid #dfdfdf;
	color: #6d6d6d;
	background: #fafafa;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.keyword-list {
	display: none;
	position: absolute;
	left: -1px;
	top: 39px;
	z-index: 20;
	width: 383px;
	padding: 10px 0;
	border: 1px solid #c3c3c3;
	border-top: 0;
	background: #fff;
}

.cart-section {
	position: relative;
	float: right;
	width: 126px;
	height: 40px;
}

.cart-section  img{
	width: 20px;
	height: 16px;
	margin-top: -5px;
}

.j_cartnum {
	color: red;
}

.mini-cart {
	z-index: 21;
	display: block;
	width: 104px;
	height: 20px;
	padding: 9px 10px;
	border: 1px solid #ffdb3d;
	line-height: 20px;
	text-align: center;
	color: #333;
	background: #ffdb3d;
}

.header-nav {
	position: relative;
	clear: both;
	height: 50px;
	background: #404144;
}

.nav-category {
	position: relative;
	float: left;
	width: 20%;
	height: 50px;
	background: #ff4a00;
}

.btn-category-list {
	display: block;
	padding: 7px 50px 7px 20px;
	font-size: 18px;
	line-height: 2;
	color: #fff;
}

.nav-category-toggled div {
	display: none;
}

.category_arrow {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -14px;
	width: 32px;
	height: 32px;
	background: url(../img/ar_down.ico) no-repeat;
}

.nav-category-toggled:hover .category_arrow  {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -14px;
	width: 32px;
	height: 32px;
	background: url(../img/ar_up.ico) no-repeat;
}

.nav-category-toggled:hover div {
	display: block;
}

.nav-category-section {
	left: 0;
	top: 50px;
	z-index: 11;
	border: solid #dfdfdf;
	border-width: 0 0 1px;
	background: #fff;
}

.nav-category-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-category-content {
	height: 43px;
	padding: 15px 10px 15px 20px;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}

.header-nav .nav-category-list .current {
	background-color: #fafafa;
}

.nav-category-list .nav-category-item {
	position: relative;
	height: 73px;
	border-top: 1px solid #dfdfdf;
	color: #6d6d6d;
}

.title {
	color: #ff4a00;
}

.links {
	width: 95%;
	height: 21px;
	margin-top: 1px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.links a {
	margin-right: 7px;
	color: #6d6d6d;
}

.nav-main {
	float: left;
}

.header-nav .nav-main ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav-main-list .nav-main-item {
	float: left;
	font-size: 18px;
	line-height: 20px;
}

.nav-main-list .nav-main-item a {
	position: relative;
	display: block;
	padding: 15px 0;
	color: #fff;
}

.nav-main-item:hover div {
	display:block;	
}

.nav-main-item:hover {
	background: #888;	
}

.children-list {
	margin: 0;
	padding: 0;
	border: 1px solid #dfdfdf;
	border-top: 0;
}

.children-list li.first {
	border-left: 0;
}

.children-list .item-detail {
	position: relative;
	display: block;
	min-height: 120px;
	height: auto;
	padding: 50px 50px 30px 265px;
	color: #6d6d6d;
}

.children-list li {
	float: left;
	display: block;
	width: 49%;
	min-height: 200px;
	height: auto;
	border-left: 1px solid #dfdfdf;
}

.nav-main-item a .text {
	display: block;
	padding: 0 23px;
}

.nav-main-item:hover .arrow {
	display:block;
}

a .arrow {
	display: none;
	position: absolute;
	left: 50%;
	bottom: -3px;
	_bottom: -1px;
	z-index: 12;
	width: 0;
	height: 0;
	margin-left: -8px;
	_font-size: 0;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent #fff;
	_border-color: #404144 #404144 #fff;
}

 .nav-main-children {
	display: none;
	position: absolute;
	top: 50px;
	left: -1px;
	z-index: 11;
	width: 80%;
	line-height: 1.5;
	background: #fff;
	margin-left: 20%;
}

.pro-A {
	margin-left: 40px;
	padding: 0 10px;
	float:left;
	color: #6d6d6d;
}

.pro-A  h3{
	margin: 0 0 1em 0;
}

.pro-A  p{
	font-size:8px;
}

/*  container css */
.row:before, .row:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
}

.row:after {
	clear: both;
}

.row .col {
	float: left;
	min-height: 1px;
	width: 80%;
}

.offset4 {
	margin-left: 20%;
}

/*	footer css	*/
.site-footer {
	margin-top: 50px;
	color: #333;
	background: #fafafa;
}

.footer-service {
	padding: 40px 0;
	border-bottom: 1px solid #dfdfdf;
}

.list-service {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list-service li {
	float: left;
	width: 20%;
	text-align: center;
}

.list-service li a {
	display: block;
	font-size: 12px;
	color: #333;
}

.list-service li a strong {
	display: block;
	margin-top: 5px;
	font-size: 18px;
	font-weight: 400;
	color: #000;
}

.list-service li img {
	height: 30px;
	width: 30px;
}

.footer-links {
	padding: 40px 0;
	border-bottom: 1px solid #dfdfdf;
	color: #6d6d6d;
}

.col-links {
	float: left;
	_display: inline;
	width: 14%;
	margin: 0 0 0 30px;
	border-right: 1px solid #dfdfdf;
}

.col-links-first {
	margin-left: 0;
}

dl {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.col-links dt {
	margin-bottom: 10px;
	font-size: 18px;
	color: #333;
}

.col-links dd {
	margin: 0 0 6px;
	display: block;
}

.col-links dd a {
	color: #6d6d6d;
}

.col-contact {
	float: right;
	width: 23%;
	text-align: center;
}

.col-contact p.phone {
	margin-bottom: 5px;
	font-size: 26px;
	line-height: 1;
	color: #000;
}

.col-contact p {
	margin: 0 0 15px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ff4a00;
	color: #ff4a00;
	padding: 0;
	width: 148px;
}

.btn-small {
	height: 28px;
	line-height: 28px;
	width: 118px;
	font-size: 12px;
}

.btn-primary {
	background-color: #ff4a00;
	border-color: #ff4a00;
	color: #fff;
}

.footer-info {
	padding: 35px 0 65px;
	font-size: 12px;
}

.info-text  p{
	text-align: center;
}

/* about css */
.jz-about {
	margin-top: 20px;
}

.jz-about-sidebar {
	border: 1px solid #dfdfdf;
	width: 20%;
	float: left;
}

.jz-about-sidebar .hd h3 {
	height: 42px;
	line-height: 42px;
	padding: 0 0 0 25px;
	color: #010101;
	margin: 0px;
}

.jz-about-sidebar .about-nav-list li {
	height: 42px;
	padding: 0 0 0 25px;
	line-height: 42px;
}

.jz-about-sidebar .about-nav-list li a {
	display: block;
	line-height: 42px;
	color: #333;
}

.jz-about-sidebar .about-nav-list li.current {
	border-left: 4px solid #ffdb3d;
	background: #fafafa;
}

.about-box {
	border: 1px solid #dfdfdf;
	margin-left: 17px;
	color: #333;
}

.section{
	padding:20px;
}

/*  userinfo css */
.span4 {
	width: 20%;
	float: left;
}

.uc-nav-box {
	padding-bottom: 15px;
	background: #fafafa;	
}

.uc-nav-list li a {
	display: block;
	padding: 9px 30px;
	color: #6d6d6d;
}

.uc-nav-list li a:hover {
	color: red;
}

.uc-nav-list li.current a {
	padding-left: 27px;
	border-left: 3px solid #ff4a00;
	color: #333;
	background-color: #fafafa;
}

.uc-nav-box .box-hd .title {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	color: #000;
}

.uc-nav-box .box-hd {
	height: 50px;
	margin: 0 30px;
	border-bottom: 1px solid #dfdfdf;
}

.uc-nav-list {
	margin: 10px 0 0;
	padding: 0;
	list-style-type: none;
	font-size: 14px;
}

.span16 {
	width: 80%;
	float: left;
	_display: inline;
	min-height: 1px;
}

.xm-box {
	border: 1px solid #dfdfdf;
	background: #fff;
	_zoom: 1;
}

.uc-info-box .box-bd {
	height: 80px;
	padding: 30px;
	border: 0;
}

.uc-info-box .uc-avatar {
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 30px;
	border-radius: 40px;
}

.uc-info-box .uc-welcome {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.25;
	color: #6d6d6d;
}

.uc-welcome .user-name {
	margin-right: 10px;
	color: #000;
}

.uc-info-detail {
	margin: 0;
	padding: 10px 0;
	font-size: 12px;
	line-height: 1.75;
	color: #6d6d6d;
}

.uc-home-box {
	border-top: 1px solid #dfdfdf;
}

.uc-home-box .box-hd {
	height: 40px;
	border-bottom: 1px solid #dfdfdf;
	background: #fafafa;
}

.box-hd .title {
	margin-left: 20px;
	font-size: 14px;
	line-height: 40px;
	color: #333;
}

.uc-home-box .uc-tip-section {
	_height: 3em;
	min-height: 3em;
	padding: 30px 10px 10px;
	color: #c3c3c3;
	font-size: 12px;
	text-align: center;
}

/*  changP css */
.suc_content {
	padding-top: 80px;
	height: 630px;
	width: 80%;
	margin: 0 auto;
	min-width: 768px;
}

.suc_kuang {
	background: #f9f9f9;
	border: 1px solid #dadada;
	border-bottom: 0 none;
}

.info {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px dashed #E3E3E3;
	padding: 30px;
}

.left_name {
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.m_func {
	color: #ff7e00;
	margin-left: 10px;
}

.info .right {
	float: right;
	display: inline-block;
	font-size: 12px;
}

.changP_container {
	margin: 60px auto 0 auto;
}

.changP .account_tips {
	margin-left: 24%;
}
.account_tips {
	text-align: left;
	height: 32px;
	line-height: 16px;
	font-size: 14px;
	margin-left: 180px;
}

.dt_l {
	width: 170px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	text-align: right;
}
.dt_l, .dd_r {
	float: left;
	height: 38px;
	margin-bottom: 12px;
	vertical-align: middle;
}

.changP .dt_l {
	width: 19%;
}

.new_width {
	width: 290px;
}

.input_kuang {
	display: inline-block;
	height: 20px;
	padding: 8px;
	font-size: 14px;
	border: 1px solid #e3e3e3;
	border-top: 1px solid #ccc;
	width: 50%;
	background: #fff url(/static/img/passport/s_bgs.png) 0 -118px repeat-x;
	box-shadow: 0 1px 1px #fff;
}

.changP_container .dd_r {
	width: 65%;
}
.dd_r {
	height: auto!important;
}

.sub_bg {
	background: url(/static/img/passport/s_bgs.png) 0 -40px repeat-x;
	height: 36px;
	display: inline-block;
	zoom: 1;
	border: 1px solid #dadada;
	font-size: 14px;
	width: 132px;
	cursor: pointer;
}

.dd_r input {
	display: block;
	float: left;
}

.sub_bg input {
	width: 132px;
	height: 36px;
}

.check_tips {
	margin-left: 10px;
	padding-left: 20px;
	vertical-align: middle;
	height: 16px;
	line-height: 16px;
	color: red;
}

.prompt_info, .validate_info {
	margin-top: 20px;
	margin-left: 10px;
	color: #999;
	height: 38px;
}

/* address css */
.xm-line-box .box-hd {
	position: relative;
	height: 50px;
	border-bottom: 1px solid #dfdfdf;
}

.xm-line-box .box-hd .title {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	color: #333;
	margin-left: 20px;
}

.uc-address-section {
	margin: 20px 0;
	position: relative;
}

.uc-address-section .xm-address-list {
	margin-left: 0;
	padding-left: 10px;
}

.xm-address-list .item {
	float: left;
	_display: inline;
	width: 27%;
	height: 160px;
	padding: 15px 18px;
	position: relative;
	border: 1px solid #dfdfdf;
	margin: 0 0 10px 10px;
	cursor: pointer;
	background: #fafafa;
}

.xm-address-list .selected {
	border-color: #ff4a00;
	background: #fff;
	cursor: default;
}

.xm-address-list .use-new-addr {
	text-align: center;
	color: #8c8c8c;
}

.xm-address-list .use-new-addr .icon-add {
	display: block;
	margin-top: 37px;
	line-height: 1;
	font-weight: normal;
}

.icon-add img {
	height: 36px;
	text-align: center;
}

.uc-address-edit-section .xm-edit-addr-box {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 10;
	width: 300px;
	background: #fff;
	border: 1px solid #ff4a00;
}

.xm-edit-addr-box .bd {
	padding: 20px;
}

.xm-edit-addr-box .bd .item {
	margin-bottom: 10px;
}

.xm-edit-addr-box .bd .item .input {
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	width: 240px;
	background: #fff;
	border: 1px solid #dfdfdf;
	color: #333;
}

.xm-edit-addr-box .bd .item .tip-msg {
	display: none;
	margin-top: 5px;
	color: #f32f39;
	font-size: 12px;
}

.xm-edit-addr-box .ft {
	padding: 20px;
	background: #fafafa;
	text-align: center;
}

.xm-edit-addr-box .ft .btn-lineDake {
	float: left;
	border-color: #dfdfdf;
}
.xm-edit-addr-box .ft .btn {
	width: 124px;
}

.btn-small {
	height: 28px;
	line-height: 28px;
	width: 118px;
	font-size: 12px;
}

.btn-lineDake {
	background-color: #fff;
	border-color: #333;
	color: #333;
}

.btn-primary {
	color: #fff;
	background-color: #ff4a00;
	border-color: #ff4a00;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active {
	color: #fff;
	border-color: #ee330a;
	background-color: #ee330a;
}

.xm-address-list .item dt {
	margin: 0;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dfdfdf;
	color: #333;
}

.item dt .tag {
	height: 18px;
	line-height: 18px;
	margin-top: 6px;
	padding: 0 10px;
	font-size: 12px;
	background: #dfdfdf;
}

.item dt span {
	float: right;
}

.xm-address-list .item dd {
	margin: 0;
	line-height: 1.6;
	color: #6d6d6d;
}

.item dd  p{
	font: 14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	margin: 0px;
}

.item .edit-btn {
	display: inline-block;
	background: #fafafa;
	width: 58px;
	height: 18px;
	line-height: 18px;
	margin-top: 8px;
	text-align: center;
	color: #333;
	font-size: 12px;
	cursor: pointer;
	border: 1px solid #dfdfdf;
}

.J_delAddr {
	margin-left: 5px;
}

/* cart css */
.site-mini-header {
	border-bottom: 2px solid #404144;
}

.shop-cart-box {
	margin: 15px 0 10px;
}

.shop-cart-box-hd {
	height: 55px;
	line-height: 55px;
}

.shop-cart-box-hd .title {
	float: left;
	font-size: 24px;
	color: #333;
}

.shop-cart-box-hd .tip {
	float: left;
	margin: 20px 0 0 10px;
	line-height: 1.2;
	font-size: 14px;
	color: #8c8c8c;
}

.shop-cart-empty {
	width: 44%;
	margin: 35px auto 0;
	padding: 50px 0 105px;
	background: url("../img/shopCart-empty-mitu.jpg") no-repeat right 0;
}

.shop-cart-empty h2 {
	width: 52%;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 20px;
	color: #6d6d6d;
	font-weight: normal;
}

.shop-cart-goods dt {
	height: 14px;
	line-height: 14px;
	padding: 8px 0;
	background: #fafafa;
	color: #8c8c8c;
	font-size: 12px;
}

.shop-cart-goods dt .col {
	float: left;
	border-left: 1px solid #dfdfdf;
	margin-left: -1px;
	_margin-left: -2px;
}

.shop-cart-goods dt .col-1 {
	border-left: none;
	margin-left: 0;
	width: 58%;
	padding-left: 30px;
}

.shop-cart-goods .col {
	text-align: center;
}

.shop-cart-goods .item .col {
	display: table-cell;
	vertical-align: middle;
	color: #333;
	padding: 10px 0;
	border-bottom: 1px solid #dfdfdf;
}

.shop-cart-goods dt {
	line-height: 14px;
	color: #8c8c8c;
	font-size: 12px;
}

.shop-cart-goods .col-1 {
	text-align: left;
}

.shop-cart-goods .col-2 {
	width: 8.5%;
	text-align: center;
}

.shop-cart-goods .col-3 {
	width: 17.5%;
	text-align: center;
}

.shop-cart-goods .col-4 {
	width: 8.5%;
}

.shop-cart-goods .col-5 {
	width: 50px;
}

.shop-cart-goods .item .g-info .g-name a {
	color: #333;
}

.shop-cart-goods .item .item-row {
	display: table-row;
}

.shop-cart-goods .item {
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
}

.shop-cart-goods .item .col-1 {
	width: 61.5%;
	overflow: hidden;
}

.shop-cart-goods .item .g-pic {
	display: table-cell;
	width: 120px;
	vertical-align: middle;
	padding-right: 15px;
	padding-left: 30px;
}

.shop-cart-goods .item .g-info {
	display: table-cell;
	vertical-align: middle;
	font-size: 12px;
	color: #818181;
}

.shop-cart-goods .item .g-info .g-name {
	font-size: 18px;
}

.shop-cart-goods .item .g-info .g-other-info {
	color: #f32f39;
}

.shop-cart-goods .item .change-goods-num {
	width: 80%;
	height: 28px;
	margin: 0 auto;
}

.shop-cart-goods .item .col-4 {
	color: #ff4a00;
}

.shop-cart-goods .item .del {
	display: inline-block;
	line-height: 15px;
	text-align: center;
	font-size: 12px;
}

.iconfont-del {
	width: 15px;
	height: 15px;
}

.form-control {
	display: block;
	width: 80%;
	height: 17px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.shop-cart-box-ft {
	padding: 40px 0 0;
	position: relative;
}

.shop-cart-box-ft .shop-cart-total {
	float: right;
	margin: 0 70px 0;
	color: #6d6d6d;
	_display: inline;
}

.shop-cart-box-ft .shop-cart-total span {
	display: inline-block;
	min-width: 130px;
	_width: 130px;
	text-align: right;
	color: #ff4a00;
	white-space: nowrap;
}

.shop-cart-box-ft .shop-cart-total .total-price {
	margin: 30px 0;
	font-size: 18px;
}

.shop-cart-box-ft .shop-cart-total .total-price strong {
	margin-right: 5px;
	font-size: 30px;
}

.shop-cart-box-ft .shop-cart-action .btn {
	float: right;
	margin-left: 10px;
}

.shop-cart-box-ft .shop-cart-action .btn-back {
	border-color: #dfdfdf;
	color: #333;
}

.btn-lineDakeLight:hover, .btn-lineDakeLight:focus, .btn-lineDakeLight.active, .btn-lineDakeLight:active {
	color: #333;
	border-color: #dfdfdf;
	background-color: #dfdfdf;
}

/*	order css */
.xm-line-box .box-hd .more {
	position: absolute;
	top: 20px;
	right: 0;
}

.uc-order-list-type a.current {
	color: #ff4a00;
}

.uc-order-list-type .sep {
	margin: 0 15px;
}

.uc-order-list-type a {
	color: #333;
}

.uc-order-list-box {
	margin: 20px 0;
	border: 1px solid #dfdfdf;
	border-bottom: 0;
}

.uc-order-detail-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.uc-order-detail-list li.empty {
	padding: 10px 20px;
	border-bottom: 1px solid #dfdfdf;
}

.uc-order-detail-item .order-detail-table {
	width: 100%;
	color: #333;
}

.uc-order-detail-item .order-detail-table .column-info {
	height: 41px;
	font-weight: 400;
	text-align: left;
	background: #fafafa;
}

.uc-order-detail-item .order-detail-table .column-t {
	border-width: 0 0 1px;
}

.column-content {
	position: relative;
	height: 21px;
	padding: 10px 20px;
}

.uc-order-detail-item .order-detail-table .column-info {
	font-weight: 400;
	text-align: left;
}

.uc-order-detail-item .order-detail-table .column-info .order-status {
	color: #ff4a00;
}

.uc-order-detail-item .order-detail-table .column-info .sep {
	margin: 0 5px;
	color: #dfdfdf;
}

.uc-order-detail-item .order-detail-table .order-goods-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.uc-order-detail-item .order-detail-table .column-l {
	border-left: 0;
}

.uc-order-detail-item .order-detail-table .order-goods-list li.first {
	border-top: 0;
}

.uc-order-detail-item .order-detail-table .order-goods-list li {
	position: relative;
	min-height: 42px;
	_height: 42px;
	padding: 30px 20px 30px 100px;
	border-top: 1px solid #dfdfdf;
}

.uc-order-detail-item .order-detail-table .order-goods-list .goods-thumb {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 60px;
	height: 60px;
}

.column-price {
	width: 119px;
	padding: 30px 0 20px;
	text-align: center;
	vertical-align: top;
}

.uc-order-detail-item .order-detail-table .column-action {
	width: 180px;
	padding: 30px 0 20px;
	text-align: center;
	vertical-align: top;
}

.column-r {
	border-right: 0;
}

.uc-order-detail-item .order-detail-table .order-action a {
	display: block;
	margin: 0 auto;
}

.uc-order-detail-item .order-detail-table a {
	color: #333;
}
/*
.order-detail-table a:hover {
	color: red;
}
*/
.uc-order-detail-item .order-detail-table th, .uc-order-detail-item .order-detail-table td {
	border: 1px solid #dfdfdf;
}

.goods-price {
	display: block;
}

/* pro_a css */

.c1_img01 {
	width: 100%;
	margin: 15px 0 30px 0;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.tab_div {
	margin: 15px 5px;
	background: #fafafa;
}

#sjlr1 {
	padding-top: 60px;
}

#sjlr1 ul {
	margin: 0px;
	padding: 0px;
}

#sjlr1 ul li {
	float: left;
	width: 33%;
	border-right: 1px dashed #CCCCCC;
	display: block;
	text-align: center;
	margin-bottom: 50px;
}

#sjlr1 ul li h1 {
	font-size: 16px;
	color: #767676;
	font-weight: bold;
}

#sjlr1 ul li h2 {
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	color: #989797;
	line-height: 18px;
}

/*	goods css */
.proCon_pics {
	float: left;
	padding-top: 20px;
	width: 45%;
}

.proCon_pics_midBox {
	width: 73%;
	height: 73%;
	margin: 0 0 0 60px;
}

.proCon_pics_smallMain {
	margin-top: 30px;
	height: 64px;
	position: relative;
	background-color: #fff;
}

.proCon_pics_smallBox ul li {
	float: left;
	width: 75px;
	height: 62px;
}

.proCon_pics_smallBox ul li {
	float: left;
	width: 75px;
	height: 62px;
}

.proCon_pics_smallBox ul li.selected a {
	border: 1px solid #FF2E28;
}

.proCon_pics_smallBox ul li a {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	_font-size: 48px;
	text-align: center;
	border: 1px solid #e1e1e1;
	overflow: hidden;
}

.proCon_pics_smallBox ul li a img {
	vertical-align: middle;
	width: 50px;
	height: 50px;
}

.proCon_form {
	float: right;
	width: 55%;
	_overflow: hidden;
}

address, cite, dfn, em, var {
	font-style: normal;
}

.proCon_form h2 {
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
}

.proCon_form h2 em {
	color: #5e5e5e;
	float: left;
}

.proCon_form h2 span {
	float: right;
	display: block;
	font-size: 12px;
	color: #b8b8ba;
	font-weight: normal;
}

.level {
	margin-top: 8px;
	width: 100px;
	height: 16px;
	background: url(../../img/bg_stars.gif) no-repeat;
}

.proCon_form_intro {
	color: #b8b8ba;
	font-size: 12px;
	line-height: 20px;
}

.proCon_form_intro li.item1 {
	float: left;
	width: 80%;
}

.proCon_form_cfl {
	border-bottom: 1px dotted #dfdfdf;
	width: 100%;
}

.proCon_form_price {
	float: left;
	font-size: 14px;
	color: #333;
}

.proCon_form_price strong.proCon_form_price_through {
	font-size: 14px;
	color: #979693;
	margin-right: 10px;
	text-decoration: line-through;
	font-weight: normal;
}

.proCon_form_price strong {
	font-size: 24px;
	color: #CC0000;
}

.proCon_form_price strong font.item2 {
	font-size: 14px;
	color: #979693;
	font-weight: normal;
}

.proCon_form_price strong.proCon_form_price_through span {
	font-size: 14px;
}

.proCon_form_price strong span {
	font-size: 22px;
}

.cfl:after, #family_mi ul:after, #extra_focus:after, #dmFocus:after, .dmbbs_m_con ul li:after, .dmbbs_s li a:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.proCon_form_box {
	padding: 10px 0 0;
}

.proCon_form_box_upCon li {
	padding-bottom: 20px;
}

.proCon_form_box_upCon h3 {
	float: left;
	width: 13.5%;
	padding-top: 5px;
	color: #999;
	font-weight: normal;
	margin: 5px 0 0;
}

#vpd {
	display: none;
	overflow: hidden;
	width: 90px;
	position: absolute;
	height: 90px;
	z-index:99999;
	border: 1px solid rgb(68, 68, 68);
}

#vpd2 {
	position: absolute;
}

.btn-group {
	float: left;
	width: 83%;
	margin-top: 10px;
}

.btn-group  label {
	margin-right: 10px;
}

.btn_radio {
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #ACA3A0;
	padding: 0;
	width: 23%;

}

.proCon_form_box_usersel label.selected {
	overflow: hidden;
	position: relative;
	background-color: #fff;
	border: 2px solid #FF2E28;
	cursor: default;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #CC0000;
}

#buynum {
	margin-top: 10px;
	width: 70px;
}

.proCon_form_box_form {
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #e5e5e5;
	background-color: #fafafa;
}

.proCon_form_box_form dl dt {
	color: #979693;
	padding: 0 0 20px;
}

.goods-add-cart-btn {
	float: left;
	width: 161px;
	margin: 10px 10px 0 0;
	position: relative;
	z-index: 20;
	font-weight: bold;
	_height: 26px;
	_padding-top: 12px;
}

.goods-collect-btn {
	float: left;
	width: 140px;
	margin-top: 9px;
	color: #656d78;
	font-weight: bold;
	_height: 24px;
	_padding-top: 12px;
}

.proCon_form_box_hasSelected strong {
	font-size: 12px;
	color: #CC0000;
}

.goods-add-cart-btn .icon-goods-add {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../../img/icon-goods-add.png) no-repeat;
	margin: -2px 5px 0 0;
	vertical-align: middle;
}

.icon-common-grayheart {
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../../img/icon-grayheart.png) no-repeat;
	margin: 1px 5px 0 0;
	vertical-align: middle;
}

.proCon_form_box_form .btn {
	display: inline-block;
	display: inline;
	zoom: 1;
	margin-bottom: 0;
	font-size: 14px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #e6e9ed;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0;
	width: 140px;
}

#popwin {
	padding-bottom: 2px;
	background: #FFFFFF;
	position: absolute;
	z-index: 500005;
	width: 320px;
	height: 140px;
}

.snapdiv_title_div {
	background: #ef0000;
	width: 320px;
	height: 20px;
}

.snapdiv_title {
	font-size: 12px;
	color: #FFFFFF;
	line-height: 22px;
	text-indent: 20px;
	float: left;
	width: 294px;
	height: 20px;
}

.snapdiv_button_close {
	width: 13px;
	height: 13px;
	margin-top: 4px;
	margin-right: 7px;
	float: right;
	cursor: pointer;
}

.snapdiv_content {
	background-color: #FFFFFF;
	padding: 8px;
}

#popwin_html {
	width: 294px;
	height: 120px;
}

.dialog_table {
	width: 98%;
	margin: 1%;
}

.dialog_table_td {
	width: 60px;
}

.dialog_ico_yes {
	width: 48px;
	height: 48px;
	background-image: url(../../img/dialog_icons.gif);
	background-position: -50px 0px;
}

.dialog_content {
	font-size: 12px;
	color: #888888;
	line-height: 120%;
	font-weight: 100;
}

.dialog_button {
	height: 30px;
	text-align: center;
	clear: both;
}

.dialog_button input {
	display: inline-block;
	padding: 4px 10px 4px;
	_height: 21px;
	margin-bottom: 0;
	font-size: 12px;
	line-height: 17px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #cccccc;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-color: #e1e1e1 #e1e1e1 #e1e1e1;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #fefefe;
	background-image: -ms-linear-gradient(top,#fefefe,#f5f5f5);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fefefe),to(#f5f5f5));
	background-image: -moz-linear-gradient(top,#fefefe,#f5f5f5);
	background-image: -o-linear-gradient(top,#fefefe,#f5f5f5);
	background-image: linear-gradient(top,#fefefe,#f5f5f5);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fefefe',endColorstr='#f5f5f5',GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	outline: 0;
}

.proPackage {
	margin-top: 20px;
	border: 1px solid #e1e1e1;
}

/* checkout css */
.checkout-box .xm-box {
	border: none;
	margin-bottom: 20px;
}

.checkout-box .xm-box .box-hd {
	height: 44px;
	padding-top: 6px;
	margin-bottom: 20px;
}

.checkout-box .xm-box .box-hd .title {
	margin: 0;
	line-height: 44px;
}

.xm-box .box-hd {
	position: relative;
	height: 50px;
	border-bottom: 1px solid #dfdfdf;
}

.checkout-option-list .selected {
	border-color: #ff4a00;
	background: #fff;
}

.checkout-option-list li {
	float: left;
	min-width: 125px;
	_width: 125px;
	padding: 15px 30px;
	border: 1px solid #dfdfdf;
	margin-right: 10px;
	background: #fafafa;
	cursor: pointer;
	white-space: nowrap;
}

.checkout-option-list li input {
	display: none;
}

.checkout-box .checkout-box-ft {
	padding-top: 10px;
}

.checkout-goods-list {
	margin-bottom: 30px;
	overflow: hidden;
}

.checkout-goods-list dt {
	padding: 9px 0;
	font-size: 12px;
	line-height: 1;
	background: #fafafa;
	color: #8c8c8c;
}

.checkout-goods-list dt .col-1 {
	width: 71%;
	padding-left: 20px;
}

.checkout-goods-list dt .col {
	float: left;
}

.checkout-goods-list dt {
	font-size: 12px;
	line-height: 1;
	color: #8c8c8c;
}

.checkout-goods-list .col-2, .checkout-goods-list .col-3 {
	text-align: center;
}

.checkout-goods-list .col-2 {
	width: 9.5%;
}

.checkout-goods-list dt .col-3 {
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}

.checkout-goods-list .col-3 {
	width: 6.5%;
}

.checkout-goods-list .col-4 {
	width: 8.2%;
	padding-right: 30px;
	text-align: right;
}

.checkout-goods-list .item {
	display: table;
	padding: 10px 0;
	color: #333;
	width: 100%;
}

.checkout-goods-list .item .item-row {
	display: table-row;	
}

.checkout-goods-list .item .col-1 {
	width: 63%;
	padding-left: 20px;
}
.checkout-goods-list .item .col {
	display: table-cell;
	vertical-align: middle;
	/*border-bottom: 1px solid #dfdfdf;*/
}

.checkout-goods-list .item .col-1 .g-pic {
	width: 40px;
	height: 40px;
	padding-right: 10px;
}

.checkout-goods-list .item .col-1 .g-info, .checkout-goods-list .item .col-1 .g-pic {
	display: table-cell;
	vertical-align: middle;
}

.checkout-goods-list .item .col-1 .g-info a {
	color: #333;
}

.checkout-goods-list .item .col-4 {
	color: #ff4a00;
}

.checkout-count {
	position: relative;
	padding: 25px 30px 25px 0;
	min-height: 160px;
	_height: 160px;
	border-top: 1px solid #dfdfdf;
	border-radius: 0 0 5px 5px;
}

.checkout-price {
	float: right;
	text-align: right;
	color: #333;
}

.checkout-price ul {
	margin-bottom: 20px;
}

.checkout-price li {
	line-height: 2;
	text-align: right;
}

.checkout-price li span {
	display: inline-block;
	min-width: 130px;
	_width: 150px;
	color: #ff4a00;
}

.checkout-price .checkout-total span {
	display: inline-block;
	min-width: 130px;
	_width: 150px;
	color: #ff4a00;
}

.checkout-price .checkout-total span strong {
	margin-right: 5px;
	font-size: 30px;
	font-weight: normal;
	white-space: nowrap;
}

.checkout-confirm {
	padding: 20px 30px;
	background: #fafafa;
	text-align: right;
	color: #333;
}

.checkout-confirm .btn-back-cart {
	border-color: #dfdfdf;
}

.btn-lineDakeLight {
	background-color: #fafafa;
	border-color: #f3f3f3;
	color: #333;
}
/* confirm css */
.payment-con {
	margin-top: 20px;
}

.order-info {
	border: 1px solid #dfdfdf;
	padding: 25px 30px 25px 260px;
	margin-bottom: 15px;
	position: relative;
	zoom: 1;
}

.order-info .msg {
	_height: 58px;
	margin-bottom: 20px;
}

.order-info h3 {
	font-size: 24px;
	color: #000;
	font-weight: normal;
}

.order-info p {
	line-height: 1.6;
	color: #6d6d6d;
}

.order-info .post-date {
	color: #333;
	font-size: 18px;
}

.order-info {
	zoom: 1;
}

.order-info p .line {
	margin: 0 3px;
}

.order-info .icon-box {
	width: 240px;
	height: 100%;
	_height: 194px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fafafa;
	zoom: 1;
}

.order-info .icon-box .iconfont {
	display: block;
	width: 90px;
	height: 90px;
	line-height: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	text-align: center;
	font-size: 90px;
	border: 5px solid #83bd39;
	color: #83bd39;
	border-radius: 50%;
}



