/*	mitv css 	*/
.product-content {
	margin-top: 20px;
}

.section-intro {
	height: 630px;
	padding-top: 130px;
	color: #333;
	background: url(../img/product/mitv/home-intro-bg.jpg?2) no-repeat 50% 0;
}

.section .container {
	position: relative;
}

.section-intro .content {
	width: 35%;
}

.section .title {
	margin: 0;
	font-size: 40px;
	font-weight: 400;
	line-height: 1.25;
	color: #333;
}

.section-intro .title {
	font-size: 60px;
}

.xm-product-box h3.title {
	font-family: 'FZLTHK';
}

.section .subtitle {
	margin: 0;
	font-size: 20px;
	font-weight: 400;
}

.section-intro .subtitle {
	margin-bottom: 30px;
	font-size: 28px;
}

.section-intro .price {
	font-size: 24px;
}

.section-intro .price span {
	font-size: 32px;
}

.section-intro .price em {
	font-style: normal;
	font-size: 12px;
}

.section-intro .tips {
	font-size: 12px;
	color: #ee330a;
}

.section-intro .btn-delivery {
	margin: 20px 0 0;
	width: 170px;
	font-size: 14px;
	color: #fff;
	border-radius: 5px;
}

.mitv-content-intro .section-mode {
	position: relative;
	padding: 0px;
	height: 866px;
	background: url(../img/product/mitv/home-mode-01-bg.jpg) no-repeat 50% 100%;
}

.mitv-content-intro .section-mode .container {
	height: 700px;
	padding-top: 166px;
}

.mitv-content-intro .section-mode .content {
	width: 450px;
	margin: 0 140px 0 auto;
}

.mitv-content-intro .section-mode .subtitle {
	margin-top: 5px;
	margin-bottom: 20px;
}

.mitv-content-intro .section-mode .text {
	width: 87%;
	text-align: justify;
}

.mitv-content-intro .section-mode .link {
	display: inline-block;
	margin-top: 40px;
	padding: 3px 15px;
	border: 1px solid #6d6d6d;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #6d6d6d;
	background: #f1eee9;
}

.mitv-content-intro .section-screen {
	position: relative;
	height: 606px;
	padding-top: 238px;
}

.mitv-content-intro .section-screen .content {
	width: 54%;
	margin: 0 0 0 auto;
	color: #fff;
	text-shadow: 0 1px 3px #000;
}

.mitv-content-intro .section-screen .title {
	color: #fff;
}

.mitv-content-intro .section-screen .subtitle {
	margin: 25px 0 15px;
}

.mitv-content-intro .section-screen .text {
	margin-bottom: 20px;
}

.mitv-content-intro .section-screen .link {
	color: #ffc700;
}

.mitv-content-intro .section-screen .screen-feature-list {
	margin: 50px 0 0;
	padding: 0;
	list-style-type: none;
}

.mitv-content-intro .section-screen .screen-feature-list li {
	float: left;
	_display: inline;
	width: 85px;
	margin-right: 10px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	color: rgba(255,255,255,0.6);
}

.mitv-content-intro .section-screen .screen-feature-list li .icon-lg {
	background-position: 0 0;
}

.mitv-content-intro .section-screen .screen-feature-list li .ir {
	display: block;
	width: 65px;
	height: 65px;
	margin: 0 auto 3px;
	background: url(../img/product/mitv/icons-feature.png) no-repeat 0 0;
}

.ir {
	display: block;
	text-align: left;
	text-indent: -9999em;
	overflow: hidden;
}

.mitv-content-intro .section-screen .screen-feature-list li .icon-uhd {
	background-position: -65px 0;
}

.mitv-content-intro .section-screen .screen-feature-list li .icon-3d {
	background-position: -130px 0;
}

.mitv-content-intro .section-screen .screen-feature-list li .icon-12 {
	background-position: -195px 0;
}

.mitv-content-intro .section-screen .screen-feature-list li .icon-smart-dimming {
	background-position: -260px 0;
}

.mitv-content-intro .section-screen .compare {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 844px;
	overflow: hidden;
	_zoom: 1;
}

.mitv-content-intro .section-screen .compare-pic {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1920px;
	margin-left: -960px;
}

.mitv-content-intro .section-screen.xm-animation-active .compare-pic .compare-low {
	width: 38.5%;
}

.mitv-content-intro .section-screen.xm-animation-active .compare-text {
	opacity: 1;
}

.mitv-content-intro .section-screen .compare-text {
	position: absolute;
	top: 380px;
	left: 50%;
	margin-left: -343px;
	z-index: 3;
}

.mitv-content-intro .section-screen .compare-text .compare-low, .mitv-content-intro .section-screen .compare-text .compare-high {
	float: left;
	padding: 2px 15px;
	font-size: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.mitv-content-intro .section-screen .compare-text .compare-high {
	color: #000;
	background: #fff;
	background: rgba(255,255,255,0.8);
}

.mitv-content-intro .section-screen .compare-text .compare-low {
	margin-right: 20px;
	color: #fff;
	background: #000;
	background: rgba(0,0,0,0.8);
}

.section .content {
	position: relative;
	z-index: 2;
}

.mitv-content-intro .section-screen .compare-pic .compare-high, .mitv-content-intro .section-screen .compare-pic .compare-low {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 844px;
}

.mitv-content-intro .section-screen .compare-pic .compare-low {
	z-index: 2;
	width: 57%;
	overflow: hidden;
	_zoom: 1;
}
/* 	buytv	css	*/
.container .choose-step {
	border: 1px solid #dfdfdf;
	margin-top: 15px;
}

.container .choose-step .choose-content {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.container .choose-step .choose-content .step-content {
	list-style-type: none;
	padding-top: 25px;
	padding-bottom: 25px;
}

.container .choose-step .choose-content .step-title b {
	font-weight: normal;
	font-size: 18px;
	color: #6d6d6d;
}

.container .choose-step .choose-content .step-title {
	text-align: left;
	padding-bottom: 15px;
	border-bottom: 1px solid #dfdfdf;
}

.container .choose-step .choose-content .step-title i {
	font-style: normal;
	font-size: 24px;
	color: #ff4a00;
	padding-right: 10px;
}

.container .choose-step .choose-content .step-content .first {
	margin-left: 0px;
}

.container .choose-step .choose-content .step-content li {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	width: 23%;
}

.container .choose-step .choose-content .step-content li .version {
	border: 1px solid #dfdfdf;
	height: 150px;
	background-color: #fafafa;
	overflow: hidden;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.container .choose-step .choose-content .step-content li .version:hover {
	background-color: #f0f0f0;
}

.container .choose-step .choose-content .step-content li .active:hover {
	background-color: #fff;
}

.container .choose-step .choose-content .step-content li .active {
	border: 1px solid #f32f39;
	background-color: #fff;
	cursor: default;
}

.container .choose-step .choose-content .step-content li .version .name {
	margin-top: 38px;
	font-size: 24px;
	color: #333;
	font-weight: normal;
}

.container .choose-step .choose-content .step-content li .version .descp {
	margin-top: 5px;
	font-size: 12px;
	color: #8c8c8c;
}

.container .choose-step .choose-content .step-content li .color {
	padding-top: 50px;
	padding-left: 145px;
	height: 100px;
	text-align: left;
}

.container .choose-step .choose-content .step-content li .color .name {
	margin-top: 0px;
}

.container .choose-step .choose-content .step-content li .color .img {
	position: absolute;
	top: 30px;
	left: 35px;
}

.container .choose-step .choose-content .vague {
	opacity: .5;
	filter: alpha(opacity=50);
}

.container .choose-step .next-step {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f3f3f3;
}

.container .choose-step .next-step .next-info {
	float: right;
	padding-right: 30px;
}

.container .choose-step .next-step .next-info .tip {
	float: left;
	font-size: 12px;
	color: #6d6d6d;
	line-height: 40px;
	padding-right: 20px;
}

.btn-dake {
	background-color: #6d6d6d;
	border-color: #6d6d6d;
	color: #fff;
}



