body {
  background: #f1f2f4;
}
p {
  margin: 0;
}
a {
  color: #4caf50;
  text-decoration: none !important;
}
a:hover {
  color: #00ec00;
}
.fright {
  float: right;
}
.header-logo {
  display: inline-block;
  margin-top: 1em;
  float: left;
}
.navbar-background-color {
  background-color: #36373E;
}

.main-nav-list {
  margin-left: 120px;
  margin-top: 20px;
}
.main-nav-list li a {
  display: block;
  font-size: 2rem;
  text-decoration: none;
  margin: 5px 15px 0 15px;
  color: #ffffff !important;
  padding: 0 0 5px 0 !important;
}
.main-nav-list .menu-item:hover > a {
  border-bottom: 2px solid #bbb;
  color: #0b8fa2 !important;
}
.main-nav-list > li.current-menu-item > a {
  border-bottom: 2px solid #c51525 !important;
}
/*   index */
#maincontent:after {
  clear:both;
  content: "";
  display: table;
}
#hero-container {
  opacity: 1;
  position: relative;
  margin-top: -20px;
}
#hero-container .mountain-view {
  background: url("../images/home-background.jpg");
  height: 595px;
}
/*   login  */
.login-box {
  margin-top: 130px;
  border: 1px solid #e1dfd4;
  border-radius: 3px;
  background: #ffffff;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}
.login-head {
  margin-top: 40px;
  text-align: center;
  color: #65656e;
}
.login-third-left {
  padding: 8px 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: inline-block;
  text-align: center;
  background: #a4a5ad;
  border: 1px solid #a4a5ad;
  margin-top: 40px;
  width: 49.5%;
}
.login-third-right {
  padding: 8px 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  display: inline-block;
  text-align: center;
  background: #a4a5ad;
  border: 1px solid #a4a5ad;
  margin-top: 40px;
  float: right;
  width: 49.5%;
}
.login-third-left:hover {
  background: #787985;
  text-decoration: none;
}
.login-third-right:hover {
  background: #787985;
  text-decoration: none;
}
.signin-email {
  margin-top: 50px;
}
.signin-password {
  margin-top: 35px;
}
.signin-bottom {
  margin-top: 30px;
  text-align: center;
}
.signin-bottom .link {
  color: #4c9bda;
}
.signin-bottom .link:hover {
  color: #3974a3;
}
.signin-button {
  margin-top: 50px;
}
.form-control-wrapper .floating-label {
  color: #1cb78c;
  font-size: 20px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 2px;
  transition: all 0.2s ease 0s;
}
.form-control-wrapper .form-control:not(.empty) ~ .floating-label {
  font-size: 20px;
  opacity: 1;
  top: -20px;
}
.hint {
  color: #1cb78c;
  font-size: 90%;
}
.btn-full {
  padding: 5px 0;
  width: 100%;
  font-size: 25px;
}
.icon-email {
  display: inline-block;
  float: right;
}
/* register */
.coder {
  padding: 1rem;
  font-size: 2rem;
  color: #787985;
  text-align: center;
  background: #e6e7eb;
  cursor: pointer;
}
.hr {
  padding: 1rem;
  font-size: 2rem;
  color: #787985;
  text-align: center;
  background: #e6e7eb;
  cursor: pointer;
}
.selected {
  background: #ffffff;
}
.regtypeChange.ng-hide-add {
  -webkit-animation: 0s regtypeChange-add;
  -moz-animation: 0s regtypeChange-add;
  animation: 0s regtypeChange-add;
}
.regtypeChange.ng-hide-remove {
  -webkit-animation: 0s regtypeChange-remove;
  -moz-animation: 0s regtypeChange-remove;
  animation: 0s regtypeChange-remove;
}
@keyframes regtypeChange-add {
  from {opacity: 1;}
  to {opacity: 0;}
}
@-webkit-keyframes regtypeChange-add {
  from {opacity: 1;}
  to {opacity: 0;}
}
@-moz-keyframes regtypeChange-add {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes regtypeChange-remove{
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes regtypeChange-remove {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes regtypeChange-remove {
  from {opacity: 0;}
  to {opacity: 1;}
}
.container-margin-top {
  margin-top: 62px;
}
.wings {
  margin-bottom: 2rem;
  display: table;
  width: 100%;
  padding-top: 60px;
}
.wings-wing:before {
  background-color: #dee0e5;
  height: 0.1rem;
  bottom: 0;
  content: "";
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -0.1rem;
  vertical-align: middle;
}
.wings-wing {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
}
.text-register {
  font-weight: 300;
  font-style: normal;
  color: #a4a5ad;
  padding: 0.2rem;
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
  width: 0.1rem;
  font-size: 20px;
}
.logo img {
  width: 170px;
}
.input-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  font-family: Lato,Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.467;
  color: #34495e;
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  box-shadow: none;
  -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
  transition: border .25s linear,color .25s linear,background-color .25s linear;
}
.input-control:focus {
  border-color:#1abc9c;
  outline:0;
  box-shadow:none
}
.form-control-feedback {
  position: absolute;
  top: 2px;
  right: 12px;
  padding: 0 12px 0 0;
  margin-top: 1px;
  line-height: 36px;
  color: #b2bcc5;
  background-color: transparent;
  border-radius: 6px;
  font-size: 25px;
}
.terms-service {
  margin-top: 30px;
}
.labels {
  font-size: 18px;
  color: #53545b;
}
.left-label:after {
  color: #eb4d4d;
  content: ' *';
}
.left-label {
  margin-left: 20px;
}
.right-label {
  margin-left: 313px;
}
.right-label:after {
  color: #eb4d4d;
  content: ' *';
}
.bottom-label {
  margin-top: 50px;
}
.right-labels {
  margin-left: 278px;
}
.right-labels:after {
  color: #eb4d4d;
  content: ' *';
}
.terms-service {
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 100%;
}
.terms {
  display: inline-block;
}
.service {
  display: inline-block;
}
.reg-end {
  margin-top: 30px;
}
.reg-ends {
  margin-top: 100px;
}
/*   profile     */
.profile-body {
  margin-top: 100px;
}
.panel {
  padding: 15px;
  border: 1px solid #92b0bb;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  height: auto;
  background-color: #d7e9ed;
}
.right-panel {
  padding-left: 11px;
}
.b-button {
  border-radius: 6px;
  font-size: 20px;
  min-width: 260px;
  padding: 25px 20px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
}
.b-button:hover {
  cursor: pointer;
  color: #4aa9d3;
  border-color: #4aa9d3;
}
.sub {
  margin: 30px 25px;
}
.profile-main {
  margin-top: 35px;
  margin-left: -15px;
}
.header-image {
  margin-left: -15px;
}
.social-btn {
  margin-left: -15px;
  margin-bottom: 0;
  width: 100%;
}
.github {
  font-size: 20px;
  margin-right: 10px;
}
.edit-icon {
  font-size: 15pt;
  margin-top: 15px;
}
.edit-icons {
  font-size: 15pt;
  margin-top: 3px;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
.name {
  font-size: 36px;
}
.line {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid rgba(119,119,119,0.4);
}
.edit-header {
  font-size: 18pt;
}
.content {
  margin-top: 25px;
  font-size: 16px;
  overflow: hidden;
}
.ns-button {
  margin: 15px;
  width: auto;
}
.l-button {
  background: none;
  border: 2px  solid #e40000;
  border-radius: 2rem;
  color: #e40000;
  padding: 8px 20px;
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  font-size: 16px;
}
.l-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  font-size: 16px;
  color: #e40000;
}
.l-button:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/*   ng-message    */
.error-messages.ng-active {
  background: maroon;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  position: relative;
}
.error-messages.ng-active:after {
  position: absolute;
  top: -10px;
  content: "";
  left: 20px;
  border-style: solid;
  border-color: transparent transparent maroon;
  border-width: 5px;
}
